<div class = "container">
   <!-- <h1>Stories</h1> -->
      <div class = "row">
         <div class = "col-md-4">
            <div class="card card-block">
                  <h4 class="card-title"> <%= @user.username %></h4>
                  <p class="card-text"><%= @user.name %></p>
            </div>
         </div>
         <div class = "col-md-8">
            <ul class="list-group">
               <% @stories.each do |story| %>
                  <%= link_to story, class: "list-group-item list-group-item-action" do %>
                      <h5 class="list-group-item-heading"><%= story.title %></h5>
                      <p class="list-group-item-heading"><%= story.user.username %></p>
                      <p class="list-group-item-text"><%= story.story if story.user %></p>
                  <%end%>  
              <% end %>
           </ul> 
        </div>
     </div> 
</div>
